
.icon-home:before { content: '\e800'; } /* '' */
.icon-github:before { content: '\e801'; } /* '' */
.icon-github-text:before { content: '\e802'; } /* '' */
.icon-file-pdf:before { content: '\e803'; } /* '' */
.icon-doc-text:before { content: '\e804'; } /* '' */