<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>{% block page_title %}buckie's gh-page{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontello.css') }}">
  <link rel="stylesheet" type="text/css" media="screen, projection"
        href="{{ url_for('static', filename='css/screen.css') }}" />
  <link rel="stylesheet" type="text/css" media="screen, projection" 
        href="{{ url_for('static', filename='css/print.css') }}" />
  <!--[if IE]>
      <link href="/static/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  {% block css %}{% endblock %}


</head>
<body class="main-body-block">

    <div class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">WM</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('home') }}" class="main icon-home">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Posts<b class="caret"></b></a>
            <ul class="dropdown-menu">
                    {% for page in pages %}
                        <li><a href="{{ url_for('page', path=page.path) }}">
                                {{ page.meta.title }}
                            </a>
                        </li>
                    {% endfor %}
            </ul>
          </li>
        </ul>
          <ul class="nav navbar-nav navbar-right">
              <li>
                  <a href="{{ url_for('static', filename='resume/cv.html') }}" class="icon-doc-text">Resume</a>
              </li>
              <li>
                  <a href="https://github.com/buckie" class="icon-github-octocat">Github Profile</a>
              </li>
              <li>
                  <a href="https://github.com/buckie/buckie.github.io">
                      Source
                  </a>
              </li>
          </ul>
{#          <form class="navbar-form navbar-right">#}
{#              <input class="form-control col-lg-8" placeholder="Search" type="text">#}
{#          </form>#}
      </div>
    </div>

    {% block content %}{% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
